%section.card-container
  .card
    .front{style: "background-image: url('#{asset_path front_url}')", counter: counter}
    .back{style: "background-image: url('#{asset_path back_url}')", counter: counter}