<div class="main-container">
  Concept by <a href="http://kimisah.com/">Kimisa</a> &nbsp;|&nbsp; Web Design by <a href="http://rickypai.com">Ricky Pai</a> (<a href="https://github.com/rickypai/MKors">Source Code</a>) &nbsp;|&nbsp; 
  <a id="cc-notice" rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png" height="15" width="44" /></a> 
  All trademarks and photographs are the property of their respective owners.
</div>