// @import "compass";
@import "bootstrap";
@import "panels";
/*@import "twitter/bootstrap";*/

// body{
//   padding-top: 50px;
// }

.group:before, .group:after {
   content: "";
   display: table;
}
.group:after {
   clear: both;
}
.group {
   zoom: 1; /* IE6&7 */
}